/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oxygen:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
}

nav {
    background-color: #fcfcfc;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    /* margin-top: 1rem; */
}

.logo-container img {
    width: 3rem;
    margin-right: 2rem;
    transform: scale(0.9);
}

.welcome {
    /* height: 85vh; */
    color: firebrick;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    display: flex;
    margin-top: 7rem;
    justify-content: center;
    /* background-color: aquamarine; */
}

.hello .wel {
    position: relative;
    font-size: 5.5rem;
    line-height: 5.5rem;
    font-weight: 700;
    color: rgb(48, 47, 47);
}

.hello .wel b {
    color: firebrick;
}

.hello .name {
    position: relative;
    font-size: 3.8rem;
    line-height: 5rem;
    font-weight: 700;
}

.welcome .desc {
    z-index: 10;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 0.8rem;
    line-height: -5rem;
    transform: translate(-100%, 5%);
}

a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    transition: 200ms;
}

a:hover {
    opacity: 0.5;
}

.buttons a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    transition: 200ms;
    padding-right: 0.8em;
}

.buttons a:hover {
    opacity: 0.5;
}

ul {
    padding: 0;
    list-style-type: none;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 250px;
    left: 25px; */
    z-index: 20;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 2rem;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 30;
}

#menuToggle span {
    display: flex;
    width: 29px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 20;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-4px, 1px);
    background: #36383F;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -2px);
}

#menu {
    position: absolute;
    width: 16rem;
    height: 99.3vh;
    /* box-shadow: 0 0 10px #85888C; */
    margin: -5vh 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #fcfcfc;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-200%, 0%);
    /* transform-origin: -100% 0%; */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked~ul {
    transform: none;
}

.design {
    display: none;
}

.skepta {
    /* background-color: darksalmon; */
    /* height: 90vh; */
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
}

.skepta img {
    width: 8rem;
}

@media only screen and (max-width: 425px) and (orientation: portrait) {
    .logo-container img {
        margin-right: 0rem;
        transform: scale(0.7);
    }

    .welcome {
        color: firebrick;
        font-family: 'Oxygen', sans-serif;
        text-align: left;
        display: flex;
        margin-top: 7rem;
        justify-content: center;
    }

    .hello .wel {
        position: relative;
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 700;
        color: rgb(48, 47, 47);
    }

    .hello .wel b {
        color: firebrick;
    }

    .hello .name {
        position: relative;
        font-size: 3.0rem;
        line-height: 3.5rem;
        font-weight: 700;
    }

    .welcome .desc {
        z-index: 10;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-family: 'Oxygen', sans-serif;
        font-size: 0.6rem;
        line-height: -70rem;
        transform: translate(-95%, 7%);
    }

    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        /* top: 250px;
        left: 25px; */
        z-index: 20;
        -webkit-user-select: none;
        user-select: none;
        margin-left: 0rem;
    }

    #menu {
        position: absolute;
        top: 0;
        width: 110vw;
        height: 99.3vh;
        margin: -5vh 0 0 -10vw;
        padding: 50px;
        padding-top: 125px;
        background-color: #fcfcfc;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% -80%;
        transform: translate(-300%, 0%);
        transform-origin: (-100%, 0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu a {
        text-align: center;
    }

    #menu li {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    .wel,
    .name {
        margin-left: 1rem;
    }

    .design {
        display: flex;
        background-color: darksalmon;
        align-items: flex-end;
        position: absolute;
        top: auto;
        bottom: 0px;
    }

    .skepta {
        display: none;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .skepta img {
        width: 4.5rem;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .skepta img {
        width: 6.5rem;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .skepta {
        display: none;
    }

    .design {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: auto;
        bottom: 0px;
    }

    .design img {
        width: 80vw;
    }
}